@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root{
  --fondo: #F7F5F2;
  --barra: #DFDFDE;
  --primario: #F56D91;
  --secundario: #8D8DAA;
  --letras: black;

}
html [data-theme="light"] {
  --fondo: #F7F5F2;
  --barra: #DFDFDE;
  --primario: #F56D91;
  --secundario: #8D8DAA;
  --letras: black}

.dark{
  --fondo: #393E46;
  --barra: #222831;
  --primario: #00ADB5;
  --secundario: #EEEEEE;
  --letras: white;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--letras);
  background-color: var(--fondo);
}

.container {

  width: 100%;
  margin: auto;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.menu-items {
  position: absolute;
  top: 10px;
  left: 110px;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: var(--letras);
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover {
  font-weight: bolder;
}

.nav-container {
  display: block;
  position: fixed;
  height: 60px;
  background-color: var(--barra);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.nav-container .checkbox {
  position: absolute;
  display: none;
  height: 32px;
  width: 32px;

  top: 5px;
  right: 15px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.checkbox {
  display: none;
}

.logo {

  font-size: 1.2rem;
  color: var(--letras);
}

.oscuro {
  position: absolute;
  top: 8px;
  right: 45px;
  font-size: 1.2rem;
  color: var(--letras);
}
 .oscuro img{
  width: 30px;
  height: 30px;
 }
.carro {
  position: absolute;
  top: 10px;
  right: 90px;
  font-size: 1.2rem;
  color: var(--letras);
}
.carro img{
  width: 30px;
  height: 30px;
 }



/*   Letras */
.mini {
  font-size: 12px;
}

.peque {
  font-size: 15px;
}

.mediano {
  font-size: 18px;
  font-weight: bold;
}

.grande {
  font-size: 25px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  width: 80vw;
  margin: auto;
}

/* Grid y Flex */
.gridtop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "a b"
}

.filters {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1.5rem;
  justify-content: center;
  align-content: center;
  text-align: center;
  cursor: pointer;

}

.barra {

  border-right: 3px solid var(--secundario);
  padding-right: 10px;
}

footer {

  padding: 20px;

  background-color: var(--barra);
}

.foot {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}


.centerproducts {
  margin-top: 10%;
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  row-gap: 20px;
align-items: center;
justify-content: center;

}

.promotion {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  margin-bottom: 100px;
  grid-area: a;
}

.productosjs {
  display: grid;
  grid-template-rows: 2fr 1fr;
  position: relative;
  margin: auto;
}

/* tarjetas */

.productosjs {
  height: 400px;
  width: 280px;
  background-color: var(--fondo);
  align-items: center;
  justify-items: center;
  text-align: center;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.imagen_tarjeta {
  height: 100%;
  width: 100%;
  background-color: var(--primario);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-top: 3ex;
  transition: .4s;

}

.imagen_tarjeta:hover {
  transform: translateY(-.45rem);
}

.imgtarjeta {
  width: 80%;
  height: 80%;
  padding-top: 10%;


}

.imagpromotion {
  width: 100%;
  height: 100vh;
  background-color: var(--primario);
  align-items: center;
  justify-content: center;
  justify-items: center;
  display: flex;
  grid-area: b;
}



.imagpromotion img:hover {
  transform: translateY(-.45rem);
}

.imagpromotion img {

  width: 80%;
  object-fit: cover;
  transition: .4s;

}

.btn_agregar {
  border: 0px;
  position: absolute;
  display: inline-flex;
  padding: 22px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  font-size: 30px;
  right: 5px;
  bottom: 120px;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.btn_agregar:hover {
  background-color: red;
}

.boton1 {
  padding: 7%;
  height: 60px;
  border-radius: 0;
  background-color: var(--secundario);
  border: 0px;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.boton2 {
  width: 180px;
  height: 80px;
  border-radius: 0;
  background-color: var(--primario);
  border: 0px;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.buttoms_promo {
  display: flex;
  align-items: center;
  justify-content: center;

}



@media (max-width:800px) {

  .productosjs {
    height: 350px;
    width: 220px;
    align-items: center;
    justify-items: center;
    text-align: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  }

  .centerproducts {
    margin-top: 10%;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    row-gap: 20px;
  
  
  }
  .gridtop {
    display: grid;
    grid-template-rows: 1fr 0.5fr;
    grid-template-columns: 1fr;
    grid-template-areas: "b"
      "a";
  }

  .promotion {
    align-self: center;
  }

  .mini {
    font-size: 7px;
  }

  .peque {
    font-size: 11px;
  }

  .mediano {
    font-size: 13px;
    font-weight: bold;
  }

  .grande {
    font-size: 18px;
  }


  .container {

    width: 100%;
    margin: auto;
    
  }

  .navbar {
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }

  .navbar .menu-items {
    display: flex;
  }

  .navbar .nav-container li {
    list-style: none;
  }

  .navbar .nav-container a {
    text-decoration: none;
    color: var(--primario);
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }

  .navbar .nav-container a:hover {
    font-weight: bolder;
  }

  .nav-container {
    display: block;
    position: fixed;
    height: 60px;
    background-color: var(--barra);
  }

  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;

    top: 5px;
    right: 15px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;

    top: 6px;
    right: 15px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: var(--primario);
  }

  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 200px;
    background-color: white;
    height: 100vh;
    width: 100vw;
    transform: translate(250%);
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    padding-left: 0px;
    transition: transform 0.5s ease-in-out;
    text-align: center;

  }

  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .nav-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
  }

  .nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
  }

  .nav-container input[type="checkbox"]:checked~.logo {
    display: none;
  }

  .menu-items {
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .oscuro {
    position: absolute;
    top: 6px;
    right: 60px;
    font-size: 1.2rem;
    color: var(--letras);
}

.carro {
  position: absolute;
  top: 6px;
  right: 100px;
  font-size: 1.2rem;
  color: var(--letras);
}

.filters {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
  justify-content: center;
  align-content: center;
  text-align: center;
  cursor: pointer;

}

}